In [64]:
pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.6/dist-packages (0.18.0)

In [35]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

In [36]:
movies='movies.csv'
ratings='ratings.csv'

df_movies=pd.read_csv(movies, usecols=['movieId','title'], dtype={'movieId':'int32','title':'str'})
df_ratings=pd.read_csv(ratings, usecols=['userId','movieId','rating'],dtype={'userId':'int32','movieId':'int32','rating':'float32'})

In [42]:
df_movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [44]:
df_ratings.head()

   userId  movieId  rating
0       1        1   4.000
1       1        3   4.000
2       1        6   4.000
3       1       47   5.000
4       1       50   5.000

In [37]:

#Spare Matrix
#         Users
#        [4,4,5] A
#Movies  [3,3,4] B ==   Cos(A,B) => 0.95 
#       [3,2,1]
movies_users=df_ratings.pivot(index='movieId', columns='userId',values='rating').fillna(0)
mat_movies_users=csr_matrix(movies_users.values)

In [46]:
movies_users.head()

userId    1     2     3     4     5     6    ...   605   606   607   608   609   610
movieId                                      ...
1       4.000 0.000 0.000 0.000 4.000 0.000  ... 4.000 2.500 4.000 2.500 3.000 5.000
2       0.000 0.000 0.000 0.000 0.000 4.000  ... 3.500 0.000 0.000 2.000 0.000 0.000
3       4.000 0.000 0.000 0.000 0.000 5.000  ... 0.000 0.000 0.000 2.000 0.000 0.000
4       0.000 0.000 0.000 0.000 0.000 3.000  ... 0.000 0.000 0.000 0.000 0.000 0.000
5       0.000 0.000 0.000 0.000 0.000 5.000  ... 0.000 0.000 0.000 0.000 0.000 0.000

[5 rows x 610 columns]

In [50]:
movies_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9724 entries, 1 to 193609
Columns: 610 entries, 1 to 610
dtypes: float32(610)
memory usage: 22.7 MB

In [38]:
# Euclidean Distance
# Manhattan Distance
# Minkowski Distance 
# Cosine Similarity
model_knn= NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20)

In [39]:
model_knn.fit(mat_movies_users)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=20, p=2,
                 radius=1.0)

In [40]:

# Recommender(movie_name) => List of Movies recommended

def recommender(movie_name, data,model, n_recommendations ):
    model.fit(data)
    idx=process.extractOne(movie_name, df_movies['title'])[2]
    print('Movie Selected: ',df_movies['title'][idx], 'Index: ',idx)
    print('Searching for recommendations.....')
    distances, indices=model.kneighbors(data[idx], n_neighbors=n_recommendations)
    for i in indices:
        print(df_movies['title'][i].where(i!=idx))

In [41]:
recommender('iron man', mat_movies_users, model_knn,20)

Movie Selected:  Iron Man (2008) Index:  6743
Searching for recommendations.....
6743                                            NaN
7197                                  Garage (2007)
7195                        Merry Madagascar (2009)
7354                             A-Team, The (2010)
6726                         Superhero Movie (2008)
7137                         Thirst (Bakjwi) (2009)
7026                                 Scorpio (1973)
7571                                 Win Win (2011)
3880                  Look Who's Talking Now (1993)
6388    After the Wedding (Efter brylluppet) (2006)
7601                       Idiots and Angels (2008)
6755                Nina's Heavenly Delights (2006)
7022                                   Earth (2007)
7338                          Blue Valentine (2010)
4421                         What's Up, Doc? (1972)
6195                             Silent Hill (2006)
5885                                   Crash (2004)
3740                              Motel Hell (1980)
7378           Serbian Film, A (Srpski film) (2010)
7289                            Generation X (1996)
Name: title, dtype: object

In [61]:
def recommender1(movie_name, n_recommendations ):
    model_knn.fit(mat_movies_users)
    idx=process.extractOne(movie_name, df_movies['title'])[2]
    print('Movie Selected: ',df_movies['title'][idx], 'Index: ',idx)
    print('Searching for recommendations.....')
    distances, indices=model_knn.kneighbors(mat_movies_users[idx], n_neighbors=n_recommendations)
    for i in indices:
        print(df_movies['title'][i].where(i!=idx))

In [62]:
recommender1('iron man',20)

Movie Selected:  Iron Man (2008) Index:  6743
Searching for recommendations.....
6743                                            NaN
7197                                  Garage (2007)
7195                        Merry Madagascar (2009)
7354                             A-Team, The (2010)
6726                         Superhero Movie (2008)
7137                         Thirst (Bakjwi) (2009)
7026                                 Scorpio (1973)
7571                                 Win Win (2011)
3880                  Look Who's Talking Now (1993)
6388    After the Wedding (Efter brylluppet) (2006)
7601                       Idiots and Angels (2008)
6755                Nina's Heavenly Delights (2006)
7022                                   Earth (2007)
7338                          Blue Valentine (2010)
4421                         What's Up, Doc? (1972)
6195                             Silent Hill (2006)
5885                                   Crash (2004)
3740                              Motel Hell (1980)
7378           Serbian Film, A (Srpski film) (2010)
7289                            Generation X (1996)
Name: title, dtype: object

In [63]:
recommender1('Silent Hill',14)

Movie Selected:  Silent Hill (2006) Index:  6195
Searching for recommendations.....
6195                                                 NaN
5722                           In My Father's Den (2004)
5363                                  Grudge, The (2004)
6388         After the Wedding (Efter brylluppet) (2006)
5150                                  Used People (1992)
3563                     High Heels and Low Lifes (2001)
4600                           Gas, Food, Lodging (1992)
3609                                Sudden Impact (1983)
5156                            Caine Mutiny, The (1954)
5885                                        Crash (2004)
6743                                     Iron Man (2008)
4421                              What's Up, Doc? (1972)
6505    Fantastic Four: Rise of the Silver Surfer (2007)
3569                                     One, The (2001)
Name: title, dtype: object